
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/create_tables-checkpoint.py
.ipynb_checkpoints/etl-checkpoint.ipynb
.ipynb_checkpoints/etl-checkpoint.py
.ipynb_checkpoints/test-checkpoint.ipynb
.workspace-config.json
__pycache__/sql_queries.cpython-36.pyc
